.fundoazul{
  background-color: #41a2ef;
}
/*arquivo css começa aqui*/

#ba1 {
  background-color: #41a2ef;
}

#ba1-img{
  margin-left: 10%;
  margin-right:0%;
  ma
}
#texto{
  display: block;
  text-align: right;
  margin-top: 0%;
}

p.carousel-inner{
  text-align: center;
}

#depoimentos{
  padding-top: 20px;
  background-color: #eeeeee;

}

#banner-texto{

 color:white;
 margin-top: 15%;
}

#img-banner{
  margin-top: 70px;
  margin-bottom: 70px;

}

.caracteristicas{
  margin-top: 70px;
  margin-bottom: 70px;

}

.carousel-control.right {
  background-image: none !important;
}

.carousel-control.left {
  background-image: none !important;
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
  display: inline-block; !important;
}

#testimonials {
    padding-top: 0px;
    padding-bottom: 70px;
    background-color: #eeeeee;
    }

.center-block {
    
    margin-left: none;
}

#texto2{

  padding-top: 40px;
  padding-bottom: 40px;
}

#descricao1{
  background-color: #eeeeee;
  padding-top: 40px;
  padding-bottom: 40px;

}

.letra{
	font-size: 16px;
	color:gray;
	font-family: arial;

}
p {
    font: 400 16px/26px "Raleway", sans-serif;
}

.titulo{
	font-size: 23px;
	color: #535252;
	font-weight: bold;


}

#description-1 {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #eeeeee;
}

#description-1 .button-small-solid {
    display: inline-block;
    margin-top: 15px;
}

.button-small-solid, .button-small-solid:focus {
    font: 500 16px/26px "Poppins", sans-serif;
    background-color: #36b57c;
    color: #fff;
    border-radius: 3px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

#description-1 h1 {
    margin-bottom: 40px;
    color: #535252;
}

#description-2 {
    padding-top: 90px;
    padding-bottom: 100px;
}

#description-2 .tab-content ul .checkmark {
    margin-right: 10px;
}

#description-2 #tab_a ul li {
    margin-top: 5px;
}

#description-2 img {
    margin-left: auto;
    margin-right: auto;
}



#description-2 .nav-pills li a {
    font: 500 16px/26px "Poppins", sans-serif;
    background-color: none;
    color: #6a6a6a;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 4px;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

#description-2 .nav-pills li.active a {
    background-color: #50a2c4;
    color: #fff;
    border: 1px solid #50a2c4;
}

#description-2 #tab_a .button-small-solid {
    display: inline-block;
    margin-top: 15px;
}

#description-2 #tab_a ul li {
    margin-top: 5px;
}

.verde{
	background-color: #36b57c;
}
#video {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #36b57c;
}

#video p {
    color: #fff;
    margin-top: 30px;
}
